@import 'variable/variable';
@import 'page/hearder';
@import 'page/footer';
@import 'page/inscription';
@import 'page/ajouterunehistoire';
@import 'page/profil';
@import 'page/accueil';

body{
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: $noir;

}