.pagehistoire {
  background-color: $bleu;
  width: 100%;
  border-radius: 25px;
  border: solid 2px $jaune;
  color: $noir;
  font-size: 18px;
  margin-top: 8px;
  margin-bottom: 8px;
  img {
    width: 200px;
    height: 200px;
  }

  .text {
    word-break: break-all;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
  }

  .btn {
    background-color: $jaune;
    color: $noir;
    font-size: 25px;
    border-radius: 10px;
    padding: 8px;
    border: solid 2px $jaune;
  }
  .btn:hover {
    text-decoration: none;
    font-weight: bold;
    border: solid 2px $rouge;
    color: $noir;
  }
}
