
.profil {
  background-color: $bleu;
  width: 100%;
  border-radius: 25px;
  border: solid 2px $jaune;
  color: black;
  font-size: 18px;
  margin-top: 8px;
  margin-bottom: 8px;

  .info {
    font-weight: bold;
  }
  .info2 {
    margin-top: 10px;
  }
  .table {
    border-radius: 25px;
    width: 100%;
  }
  .fas {
    font-size: 28px !important;
    color: white !important;
  }
  .fa {
    font-size: 28px !important;
    color: white !important;
  }
  @media (max-width: 540px) {
    .brake {
      display: none !important;
      word-break: break-all;
      -webkit-hyphens: auto;
      -moz-hyphens: auto;
      -ms-hyphens: auto;
      hyphens: auto;
    }
  }
  .retour{
    margin: 5px;
        a{
        background-color: $jaune;
        color: $noir;
        font-size: 20px;
        border-radius: 10px;
        
        border: solid 2px $jaune;
        padding: 5px;
        
    }
    a:hover{
        text-decoration: none;
        font-weight: bold;
        border: solid 2px $rouge;
        color: $noir;
        
    }
}
}
